<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/spring.jar!/" />
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/spring-webmvc.jar!/" />
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/spring-security.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file:///var/folders/mn/m7gnmc1j7znfhklwm0318l680000gn/T/intellijad" />
    </SOURCES>
  </library>
</component>